<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.austrianapps.flutter_watch_garmin_connectiq">
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="market" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>

    </queries>
</manifest>
